body {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: rgb(50, 10, 10);
}

div {
    margin: auto;
}

#hello_world {
    font-size: 50;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    top: 50%;     
    bottom: 50%;     
    width: 100%;
}